/* fomact my first menu */
/* class =.name of class;ID= #nome do ID */
.btn{
    background-color: hsl(0, 17%, 98%);
    text-align: left;
    text-decoration: underline;
    color: rgb(2, 2, 2);
    font-size: 50px;
    border: none;
    padding: 20px;
}
.btndown{
    position: relative;
    display: inline-block;
}
.btndown-content{
        display: none;
        position: absolute;
        background-color: rgb(253, 245, 245);
        min-width: 50px;
        font-size: 50px;
        box-shadow: 0 8px 16px 0 rgba(red);
}
.btndown:hover .btndown-content{
    display: block;
}
.btndown:hover .btn{
    background-color: rgb(235, 33, 33);
}


.btndown-content a{
color:black;
padding: 12px;
text-decoration: nome;
display:block;
}
.btndown-content a:hover:{
        background-color:  rgb(244, 241, 241);
}


.menu{
    height: 22px;
}
.menu ul{
    list-style-type: none;
}
.menu li{
    float: left;
}
.menu a{
    margin: 0 20px;
    width: 120px;
    height: px;
    display: block;
    text-align: center;
    border: 1px solid red;
    background: white;
    color: rgb(6, 6, 6);
    padding: 2px;
   font-size: 40px;
}
.menu a:hover{
    background-color: red;


}





}   










}


body{
    background-color: hsl(0, 4%, 5%);
    text-align: left;
    text-decoration: underline;
    color: rgb(224, 230, 236);
    font-size: 20px;


}




    h1,h2,h3,h4,h4,h6{
        font-family: Georgia, 'Times New Roman', Times, serif;
       }
     p{
text-align: left; }
.text{
    text-align: left;
    color: rgb(238, 44, 44);
    font-size: larger;}
img{
    align-content:center ;
    border-radius: 25px;
    size:;


}











       
